/venv/
/yolov5/
/prod-classify-v1/dataset/test/
/prod-classify-v1/dataset/train/
/prod-classify-v1/dataset/val/
/prod-classify-v1/dataset_b/
/prod-classify-v1/dataset_r/
/yolov5x.pt
/prod-classify-v2/dataset/test/
/prod-classify-v2/dataset/train/
/prod-classify-v2/dataset/val/
/prod-classify-v2/dataset_b/
/prod-classify-v2/dataset_r/
/letters-detect/crops/
/letters-detect/cuts/
/letters-detect/cuts_for_learn/
/letters-detect/dataset/
/letters-detect/project-2-at-2024-04-23-18-46-1803f0e2/
/text-detect/dataset/
/text-detect/dataset_b/
/text-detect/dataset_r/
/models/
/letters-detect/runs/exp2/
/letters-detect/runs/exp3/
/letters-detect/project-2-at-2024-04-23-18-46-1803f0e2.zip
/letters-detect/project-2-at-2024-04-25-11-48-e3c6a95a.zip
