/venv/
/yolov5/
/prod-classify-v1/dataset/test/
/prod-classify-v1/dataset/train/
/prod-classify-v1/dataset/val/
/prod-classify-v1/dataset_b/
/prod-classify-v1/dataset_r/
/yolov5x.pt
/prod-classify-v2/dataset/test/
/prod-classify-v2/dataset/train/
/prod-classify-v2/dataset/val/
/prod-classify-v2/dataset_b/
/prod-classify-v2/dataset_r/
/letters-detect/crops/
/letters-detect/cuts/
/letters-detect/cuts_for_learn/
/letters-detect/dataset/
/letters-detect/project-2-at-2024-04-23-18-46-1803f0e2/
/text-detect/dataset/
/text-detect/dataset_b/
/text-detect/dataset_r/
/models/
/letters-detect/runs/exp2/
/letters-detect/runs/exp3/
/letters-detect/project-2-at-2024-04-23-18-46-1803f0e2.zip
/letters-detect/project-2-at-2024-04-25-11-48-e3c6a95a.zip
/letters-detect/project-2-at-2024-04-25-17-17-957e64b2.zip
/letters-detect/dataset1/
/letters-detect/labeled_img/
/letters-detect/normalized_dataset/
/letters-detect/labeled_img1/
/letters-detect/dataset_n/
/letters-detect/dataset_w/
/letters-detect/dataset_www.zip
/letters-detect/runs/exp5/
/letters-detect/runs/exp6/
/letters-detect/runs/exp9/
/letters-detect/runs/exp10/
/letters-detect/words_test/
/rama-begickaya-text-detect/dataset/
/rama-ruzhimmash-text-detect/dataset/
/rama-ruzhimmash-text-detect/rama/
/rama-ruzhimmash-text-detect/500/
/rama-ruzhimmash-text-detect/project-3-at-2024-05-16-09-33-a3a3af22.zip
/rama-ruzhimmash-text-detect/500-rama/
/rama-ruzhimmash-text-detect/ruzhimmash/
/letters-detect/ruzhimmash/
/rama-ruzhimmash-text-detect/project-3-at-2024-05-16-12-25-abe972b1/
/rama-ruzhimmash-text-detect/dataset_no_text/
/rama-begickaya-text-detect/dataset_no_text/
/rama-ruzhimmash-text-detect/dataset_1000/
/letters-detect/разметка цифр - новое/
/detail_classify/aug_rama/
/detail_classify/aug_vagoons/
/detail_classify/dataset/
/detail_classify/inilitial_vagoons/
/detail_classify/initial_rama/
/vagon_number_detect/project-52-at-2024-05-14-15-51-08aa3347.zip
/vagon_number_detect/project-54-at-2024-05-14-17-12-34ffd761.zip
/vagon_number_detect/project-56-at-2024-05-21-17-31-ee97a7a6.zip
/vagon_number_detect/dataset/
